<h1 class="mt-4 mb-4">Welcome to the Stock Tracker App</h1>

<div class="card text-white text-center bg-info mb-3 col-6">
  <div class="card-header"><span class="badge badge-warning"> Date & Time</span></div>
    <div class="card-body">
      <div class="container">
        <p class="text-monospace">The time is now: <%= Time.now %></p>
      </div>
    </div>
  </div>
</div>