@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

.navbar-brand
{
  font-size: 2rem;
}
.search-area
{
  padding-top: 40px;
}
.market-title
{
  padding-top: 20px;
}
.results-block
{
  display: inline-block;
}